# general
*~
*.pyc
\#*\#
.\#*
*DS_Store
out.txt
hynet.egg-info
doc/_build
slurm-*.out
tmp*
.eggs/
.hypothesis/
.idea
.pytest_cache/
__pycache__/
check_autopep8
.coverage
htmlcov
coverage.xml*
bats-core/
shellcheck*
check_shellcheck*
test_spm.vocab
test_spm.model
.vscode*
*.vim
*.swp

# recipe related
egs/*/*/data*
egs/*/*/downloads
egs/*/*/outputs

# tools related
tools/bin
tools/include
tools/lib
tools/lib64
tools/miniconda.sh
tools/venv/
tools/anaconda
tools/*.done
tools/activate_python.sh
tools/flashlight
tools/installer
tools/arrayfire
tools/ArrayFire-v3.8.0_Linux_x86_64.sh